07-practica-analisis-descriptivo/201128 Catalogos.xlsx
07-practica-analisis-descriptivo/201128 Descriptores_.xlsx
07-practica-analisis-descriptivo/COVID19MEXICO.csv

09-practica-regresion-lineal/201128 Catalogos.xlsx
09-practica-regresion-lineal/201128 Descriptores_.xlsx
09-practica-regresion-lineal/COVID19MEXICO.csv