07-practica-analisis-descriptivo/201128 Catalogos.xlsx
07-practica-analisis-descriptivo/201128 Descriptores_.xlsx
07-practica-analisis-descriptivo/Actualizaciones en la presentación de información referente a casos de COVID.pdf
07-practica-analisis-descriptivo/COVID19MEXICO.csv